.maincard{
    width: 600px;
    height: 180px;
    box-shadow: 5px 5px 5px 0 rgb(207, 206, 206);
}
.mainrow{
    padding-top: 20px;
    padding-left: 10px;
}





.img {
    height: 50px;
    width: 50px;
    padding: 0;
    left: 0;
    top: 0;
    border-radius: 70%;
    float: left;
}
.input{
    left: 0px;
    top: 0px;
    padding: 10px 10px;
    width: 90%;
    height: 50px;
    resize: none;
    border: none;
    
}
textarea:focus{
    outline: none;
}
textarea::-webkit-scrollbar{
    width: 0;
}


.link-tag{

    font-weight: 500;
    font-size: 14 ;
    padding: 5px;
    text-decoration: none;
    

}
.button{
    left: 10px;
    border-radius: 5px;
   float: right;
}

#Picon{
    font-size: 20px;
    padding-left: 5px;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: red;
   
    
    
}
#Ticon{
    font-size: 20px;
    padding-left: 5px;
    padding-top: 10px;

    color: blue;
  
    
}
#Licon{
    font-size: 20px;
    padding-left: 5px;
    padding-top: 10px;
    padding-right: 0;
    color: green;
    
}
#Ficon{
    font-size: 20px;
    padding-left: 5px;
    padding-top: 10px;
    padding-right: 0;
    color: orange;
    
}